@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Orbitron&family=Ubuntu&display=swap');

@font-face{
  font-family:Imported;
  src: url('./font/neolatina.ttf');
}
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family:'Montserrat','Ubuntu';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}
:root {
  --primary-blue: #00d8ff;
  --primary-purple: #6a00ff;
}

.blue {
  color: var(--primary-blue)
}

.outline {
  background-color: transparent!important;
}
.font-neo{
  font-family:Imported;
}

@layer base {
  h1 {
    @apply text-4xl font-bold font-neo
  }

  li {
    @apply p-4
  }

  button {
    @apply bg-gradient-to-r from-[var(--primary-purple)] to-[var(--primary-blue)] py-3 px-7 rounded-3xl
  }
}